# Repositorio oficial para baixar o PyTorch com suporte a CUDA 12.6
--extra-index-url https://download.pytorch.org/whl/cu126

# Bibliotecas principais do PyTorch
torch
torchvision
torchaudio

# Manipulacao de audio e video
pydub
soundfile

# Integracao e Diarizacao
pyannote.audio
omegaconf
speechbrain>=0.5.16
huggingface_hub

python-dotenv